@import "@fontsource/montserrat/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .action-button {
    @apply bg-brand hover:bg-blue-900 text-white px-4 py-2 rounded-xl text-center transition;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
